<%- include('../include/partial') -%>


  <div class="container-fluid p-0 min-vh-100">

    <div class="container">
      <div class="row p-4">
        <div class="p-2 px-4 py-4">
          <h4 class="fw-bold">Shopping Cart</h4>
        </div>
        <% if(cartProducts.length>0){%>
          <div class="row d-flex mx-2">
            <div class="container col-lg-7 col-12 bg-white Cart_table_wapper p-4 m-0 mb-2">
              <div class="Cart_list">
                <div class="px-2">
                  <table style="width: 100%; overflow-x: scroll">
                    <thead class="cartTop" style="position: sticky; top: 0">
                      <tr class="cart_table">
                        <th class="first p-3"><span>Product</span></th>
                        <th class="p-3"><span>Quantity</span></th>
                        <th class="p-3"><span> Total Price</span></th>
                        <th class="third p-3"><span>Action</span></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% cartProducts.map((data, index)=>{%>
                        <tr>
                          <td class="p-3 d-flex align-items-center">
                            <a href="/user/productdetail/<%=data._id %>"
                              class="px-0 container d-flex align-items-center text-decoration-none text-dark">
                              <img src="/img/<%=data.images[0] %>" alt="" class="img-fluid" width="70px"
                                style="border-radius: 5px" />
                              <div class="d-flex flex-column product-name">
                                <h6 for="" class="fw-bold ps-3 product-name" style="font-size: 13.5px">
                                  <%= data.productname%>
                                </h6>
                                <span class="text-danger fw-bold ps-3 StockExceed"></span>
                              </div>
                            </a>
                            <span></span>
                          </td>
                          <td class="p-3">
                            <div class="input-container d-flex align-items-center gap-2">
                              <button type="button" class="minus shadow" style="border-radius: 5px"
                                data-index="<%=index%>" onclick="decreaseQuantity(this)">
                                -
                              </button>
                              <input type="number" readonly id="quantityUpdate-<%= cartItems[index]._id %>"
                                class="d-flex align-items-center track-input" data-item-id="<%= cartItems[index]._id %>"
                                name="quantity"
                                value="<%= cartItems.find(item => item.productId.toString() === data._id.toString()) ? cartItems.find(item => item.productId.toString() === data._id.toString()).quantity : 1 %>"
                                style="
                              width: 40px;
                              border: 2px solid #020202;
                              border-radius: 4px;
                            " onchange="updateQuantity(this,'<%= cartItems[index]._id %>')" min="1" />
                              <button type="button" class="plus shadow" style="border-radius: 5px"
                                data-index="<%=index%>" onclick="increaseQuantity(this)">
                                +
                              </button>
                             

                            </div>
                            <div style="color: red;" class="error-message" id="error-message-<%= cartItems[index]._id %>"></div>
                          </td>
                          <td class="p-3">
                            <h6 for="" class="fw-bold" id="cartPrice-<%= cartItems[index]._id %>">
                              ₹<%= cartItems.find(item=> item.productId.toString()
                                === data._id.toString()) ? cartItems.find(item =>
                                item.productId.toString() ===
                                data._id.toString()).price: 0 %>
                            </h6>
                          </td>
                          <td class="p-3 text-center">
                            <form
                              action="/user/remove/<%= (cartItems.find(item => item.productId.toString() === data._id.toString())._id) %>"
                              method="post">
                              <button type="button"
                                class="btn btn-danger d-flex align-items-center justify-content-center" style="
                              border-radius: 10px;
                              font-size: 12px;
                              width: 80%;
                            " onclick="remove_product(this.form)">
                                <span class="p-1">Remove</span>
                              </button>
                            </form>
                          </td>
                        </tr>

                        <%})%>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-12 mb-2">
              <div class="cart_Bill p-5 d-flex flex-column justify-content-center">
                <div class="p-5 border billing_Totall d-flex align-items-center">
                  <div class="col-lg-6">
                    <h6 class="fw-bold">Grant Price</h6>
                    <h5 class="fw-bold">Total price</h5>
                  </div>
                  <div class="col-lg-6">
                    <h6>:<span id="totalPrice1">₹<%= productsPrice %></span></h6>
                    <h5>:<span id="totalPrice2"> ₹<%= totalPrice %></span></h5>
                  </div>
                </div>
                <div class="d-flex justify-content-center mt-4">
                  <form action="/checkout" method="get">
                    <button class="btn btn-danger" type="submit" style="border-radius: 10px; font-size: 13.5px">
                      Proceed to pay
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <%}else{%>
            <div
              class="container mx-2 bg-white d-flex flex-column align-items-center justify-content-center p-2 px-4 py-4"
              style="
            border-radius: 14px;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
          ">
              <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_3VDN1k.json" background="transparent"
                speed="5" style="width: 300px; height: 300px; opacity: 80%" loop autoplay></lottie-player>
              <div class="d-flex flex-column align-items-center justify-content-center" style="color: #9e9e9e">
                <h5>Your Cart is Empty</h5>
                <a href="/user/shop" style="text-decoration: none;"> Go to Shop</a>
              </div>
            </div>
            <%}%>

              <div class="container mt-4 mx-1">
                <hr class="line bg-dark" />
              </div>
      </div>
    </div>

    <script>

      function decreaseQuantity(button) {

        let index = button.dataset.index

        const inputElement = button.nextElementSibling;
        let quantity = +inputElement.value;
        if (quantity > 1) {
          quantity--;
          inputElement.value = quantity;
          updateQuantity(
            inputElement,
            inputElement.getAttribute("data-item-id"),
            inputElement.nextElementSibling,
            index
          );
        }
      }

      function increaseQuantity(button) {
  let index = button.dataset.index;
  const inputElement = button.previousElementSibling;
  let quantity = +inputElement.value;

  quantity++;
  inputElement.value = quantity;
  updateQuantity(inputElement, inputElement.getAttribute("data-item-id"), button, index);
}

  

      function updateQuantity(input, itemId, button, index) {
  const cartPrice = document.getElementById(`cartPrice-${itemId}`);
  const totalPrice1 = document.getElementById("totalPrice1");
  const totalPrice2 = document.getElementById("totalPrice2");
  const inputElement = input;
  let quantity = +$(input).val();

  $.ajax({
    url: "/cart/quantityUpdate/" + itemId,
    method: "POST",
    data: { quantity: quantity },
    success: function (response) {
      const totalQuantity = response.ProQuantity;

      cartPrice.innerText = `₹ ${response.cartPrice}`;
      totalPrice1.innerText = `₹ ${response.grantTotal}`;
      totalPrice2.innerText = `₹ ${response.total}`;

      const errorMessageElement = document.getElementById(`error-message-${itemId}`);
      errorMessageElement.innerText = ""; 

      if (totalQuantity == inputElement.value) {
        button.disabled = true;
      } else {
        button.disabled = false;
      }

      const StockExceed = document.querySelectorAll('.StockExceed');
      const stockExceedMsg = StockExceed[index];

      if ((totalQuantity - inputElement.value) < 5 && (totalQuantity - inputElement.value) > 0) {
        stockExceedMsg.style.display = "block";
        stockExceedMsg.innerText = `Only ${response.ProQuantity - inputElement.value} left`;

        errorMessageElement.innerText = "";
        
        setTimeout(() => {
          stockExceedMsg.style.display = "none";
        }, 1000);
      } else if (totalQuantity - inputElement.value == 0) {
        stockExceedMsg.style.display = "block";
        stockExceedMsg.innerText = "Out Of Stock";

        errorMessageElement.innerText = "Out Of Stock";
      } else {
        stockExceedMsg.style.display = "none";
      }
    },
    error: function (error) {
      console.error("Error updating quantity:", error);

      const errorMessage = JSON.parse(error.responseText).error;

      const errorMessageElement = document.getElementById(`error-message-${itemId}`);
      errorMessageElement.innerText = errorMessage;
    },
  });
}


    </script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
      function remove_product(form) {
        swal({
          title: 'Are you sure ?',
          text: 'You want to remove product!',
          buttons: true,
          dangerMode: true
        }).then((willDelete) => {
          if (willDelete) {
            form.submit()
          }
        })
      }
    </script>
    <%- include('../include/footer') -%>